{{!< default}}

{{!-- The main content area on the homepage --}}
<main role="main" class="container content-container">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-lg-9 index full-width-featured-images">
      {{> "loop"}}
    </div>
  </div>
</main>
