{{!< default}}

<main role="main" class="container content-container">
  <h1>All posts tagged "{{tag.name}}".</h1>

  <div class="row">
    <div class="col-sm-9 col-md-10 col-lg-9 index full-width-featured-images">
      {{> "loop"}}
    </div>
  </div>
</main>
